.small {color: Dodgerblue;size: 23px}
        h1 {color: red;size: 43px;}
        p {color: whitesmoke; size: 18px}
        body {background-color: #1a1a1a}
        .succes {color:lawngreen; size: 20px}
        a:link {color: #ffffe6;size: 20px}
        a:visited {color: #ffcc99;}
        a:hover {color:#ff8080; size: 25px}
        a:active {color: whitesmoke}
button {
	background-color: #005CB8;
	border-color: #4CAF50;
	color: white;
  	text-align: center;
 	text-decoration: none;
 	display: inline-block;
  	font-size: 13px;
}

  #ball {
    width: 100px;
    height: 100px;
    margin: 50px auto;
    position: relative;
    border-radius: 50%;
    background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }

  @keyframes bounce{
    0% {
      top: 0px;
    }
    50% {
      top: 249px;
      width: 130px;
      height: 70px;
    }
    100% {
      top: 0px;
    }
  }